<div id="patchContainer" class="no-outline" tabindex="0">
    <!-- tabindex = 0 to that it can receive focus and catch keyboard shortcuts -->
    <div class="btn-toolbar" role="toolbar">
        <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
        <div class="btn-group" data-bind="with: patchDocument">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="disable: $root.isPatchingInProgress()">
                <span data-bind="text: patchOnOption"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <!-- ko foreach: patchOptions -->
                <li data-bind="click: $root.setSelectedPatchOnOption.bind($root, $data)"><a href="#" data-bind="text: $data"></a></li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="btn-group">
            <button data-bind="enable: savedPatches().length && !$root.isPatchingInProgress()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Load a saved patch"><i class="fa fa-arrow-up"></i> Load <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" data-bind="foreach: savedPatches">
                <li>
                    <a href="#" data-bind="click: $root.usePatch.bind($root, $data)">
                        <span data-bind="text: name()"></span>
                    </a>
                </li>
            </ul>
            <button class="btn btn-default" title="Save the current patch" data-bind="click: savePatch, enable: patchDocument().script() && !$root.isPatchingInProgress()"><i class="fa fa-save"></i> Save</button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="visible: recentPatches().length > 0, disable: $root.isPatchingInProgress()">
                Recent Patches <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" data-bind="foreach: recentPatches">
                <li>
                    <a href="#" data-bind="click: $root.useRecentPatch.bind($root, $data), attr: { title: Script }">
                        <span data-bind="text: PatchOnOption"></span>
                        <span data-bind="visible: SelectedItem">
                            <span class="text-muted">|</span>
                            <span data-bind="text: SelectedItem"></span>
                        </span>
                        <span data-bind="visible: Query">
                            <span class="text-muted">|</span>
                            <span data-bind="text: Query"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn btn-default" title="Test the patch script on the selected document (Alt+T)" data-bind="click: testPatch, enable: isExecuteAllowed() && !$root.isPatchingInProgress() && !$root.isMapReduceIndexSelected()" accesskey="T"><i class="fa fa-question-circle"></i> Test</button>
        </div>

        <div class="btn-group" data-bind="visible: patchDocument() && patchDocument().isDocumentPatch()">
            <button class="btn btn-primary" title="Execute Patch (Alt+P)" accesskey="P" data-bind="click: executePatchOnSingle, enable: isExecuteAllowed() && !$root.isPatchingInProgress()">
                <i class="fa fa-play"></i> Patch
            </button>
        </div>
        <div class="btn-group" data-bind="visible: (!!patchDocument()) && (patchDocument().isCollectionPatch() || patchDocument().isIndexPatch())">
            <button class="btn btn-primary" title="Patch the selected documents (Alt+S)" accesskey="S" data-bind="click: executePatchOnSelected, enable: isExecuteAllowed() && !$root.isPatchingInProgress() && !$root.isMapReduceIndexSelected()">
                <i class="fa fa-play"></i> Patch Selected
            </button>
            <button class="btn btn-primary" title="Patch all matching documents (Alt+A)" data-bind="click: executePatchOnAll, enable: patchDocument().script() && !$root.isPatchingInProgress()" accesskey="A">
                <i class="fa fa-forward"></i> Patch All
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="progress" data-bind="css: { active: isPatchingInProgress() }, visible: showPatchingProgress() && (!!patchDocument()) && (patchDocument().isDocumentPatch() == false)">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: {width: patchingProgressPercentage}, aria-valuenow: patchingProgress">
                    <span data-bind="text: patchingProgressText" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-inline">

        <div class="form-group" data-bind="visible: (!!patchDocument()) && patchDocument().isDocumentPatch()">
            <label for="documentToPatch" class="padd-right-10">Document to Patch:</label>
            <span data-bind="with: patchDocument">
                <input id="documentToPatch" accesskey="I" type="text" class="form-control" data-bind="value: selectedItem, valueUpdate: 'afterkeydown', event: { keyup: $root.loadDocumentToTest.bind($root, $element.value) }, enable: !$root.isPatchingInProgress()" />
            </span>
        </div>
        <div class="form-group" data-bind="visible: (!!patchDocument()) && patchDocument().isCollectionPatch()">
            <label for="collectionToPatch" class="padd-right-10">Collection to Patch:</label>
            <div class="btn-group" data-bind="with: patchDocument">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="disable: $root.isPatchingInProgress()">
                    <span data-bind="text: selectedItem"></span>
                    <span class="caret" data-bind="visible: $root.collections().length > 1"></span>
                </button>
                <ul id="collectionToPatch" class="dropdown-menu" role="menu">
                    <!-- ko foreach: $root.collectionToSelect -->
                    <li data-bind="click: $root.setSelectedCollection.bind($root, $data)"><a href="#" data-bind="text: $data.name"></a></li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
        <div class="form-group" data-bind="visible: (!!patchDocument()) && patchDocument().isIndexPatch()">
            <label for="indexToPatch" class="padd-right-10">Index to Patch:</label>
            <div class="btn-group" data-bind="with: patchDocument">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="disable: $root.isPatchingInProgress()">
                    <span data-bind="text: selectedItem"></span>
                    <span class="caret" data-bind="visible: $root.indices().length > 1"></span>
                </button>
                <ul id="indexToPatch" class="dropdown-menu" role="menu">
                    <!-- ko foreach: $root.indicesToSelect -->
                    <li data-bind="click: $root.useIndex.bind($root, $data.name)"><a href="#" data-bind="text: name"></a></li>
                    <!-- /ko -->
                </ul>
                <span class="text-height-fix padd-left-10" data-bind="visible: $root.isMapReduceIndexSelected()">
                    <i class="fa fa-warning text-warning"></i> <span class="text-muted">'Test' and 'Patch selected' are not available for MapReduce indexes.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group" data-bind="visible: (!!patchDocument()) && patchDocument().isIndexPatch()">
            <div class="col-md-9">
                <div>
                    <label id="indexQueryLabelContainer" data-placement="auto right" data-original-title="Index Query" data-trigger="hover">
                        <span id="indexQueryLabel" class="help-cursor">
                            Query
                            <i class="fa fa-info-circle text-info"></i>
                        </span>
                        <a target="_blank" class="control-label-additional-link" title="External link: Lucene query syntax documentation" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"><!--<i class="fa fa-question-circle text-muted"></i>-->Lucene Docs</a>
                    </label>
                </div>
                <div>
                    <div data-bind="with: patchDocument">
                        <pre id="queryEditor" class="form-control editor" data-bind="aceEditor: { code: $root.queryText, readOnly: $root.isPatchingInProgress(), typeName:'queryText', allowResize: true, minHeight: 160, maxHeight: 200, completer:$root.queryCompleter, lang:'ace/mode/lucene', completerHostObject:$root}, valueUpdate: 'afterkeydown'"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <div>
                    <label id="patchScriptsLabelContainer" data-placement="auto right" data-original-title="Patch Scripts" data-trigger="hover">
                        <span id="patchScriptsLabel" class="help-cursor">
                            Patch Scripts
                            <i class="fa fa-info-circle text-info"></i>
                        </span>
                    </label>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12" data-bind="with: patchDocument">
                            <pre class="form-control" data-bind="aceEditor: { code: script, lang:'ace/mode/javascript', readOnly: $root.isPatchingInProgress() }" style="height: 160px;"></pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label>Parameters</label>
                </div>
                <div data-bind="with: patchDocument">
                    <table class="table table-striped table-hover" data-bind="visible: parameters().length > 0">
                        <thead>
                            <tr>
                                <td width="35%">Name</td>
                                <td>Value</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: parameters">
                            <tr>
                                <td>
                                    <input id="parametersName" type="text" class="form-control" data-bind="value: key, disable: $root.isPatchingInProgress()" />
                                </td>
                                <td>
                                    <input id="parametersValue" type="text" class="form-control" data-bind="value: value, disable: $root.isPatchingInProgress()" />
                                </td>
                                <td>
                                    <button type="button" class="close" data-bind="click: $parent.removeParameter.bind($parent, $data), disable: $root.isPatchingInProgress()" title="Remove this parameter">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default" data-bind="click: createParameter, disable: $root.isPatchingInProgress()" title="Add a parameter">
                        <i class="fa fa-plus"></i> Add parameter
                    </button>
                </div>
            </div>
        </div>
        <div id="matchingDocumentsContainer" class="form-group" data-bind="if: showDocumentsPreview">
            <div class="col-md-12">
                <div>
                    <label>Matching Documents</label>
                </div>
                <div id="matchingDocumentsGrid" style="width: 100%; height: 300px" data-bind="widget: { kind: 'virtualTable', itemsSource: currentCollectionPagedItems, dynamicHeightBottomMargin: 0, dynamicHeightTargetSelector: '#beforeAfterContainer', selectedIndices: selectedDocumentIndices, gridSelector: '#matchingDocumentsGrid' }"></div>
            </div>
        </div>
        <div class="form-group patch-preview-flag" data-bind="with: $root" id="beforeAfterContainer">
            <div class="col-md-6">
                <div>
                    <label>Before Patch</label>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li data-bind="click: activateBeforeDoc, css: { active: beforePatchDocMode()}" title="View document data"><a style="cursor: pointer;">Data</a></li>
                                <li data-bind="click: activateBeforeMeta, css: { active: !beforePatchDocMode() }" title="View document metadata"><a style="cursor: pointer;">Metadata</a></li>
                            </ul>
                            <pre id="beforePatchEditor" class="form-control" data-bind="aceEditor: { code: beforePatch, readOnly: true }" style="height: 260px;"></pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label>After Patch</label>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li data-bind="click: activateAfterDoc, css: { active: afterPatchDocMode()}" title="View document data"><a style="cursor: pointer;">Data</a></li>
                                <li data-bind="click: activateAfterMeta, css: { active: !afterPatchDocMode() }" title="View document metadata"><a style="cursor: pointer;">Metadata</a></li>
                            </ul>
                            <pre id="afterPatchEditor" class="form-control" data-bind="aceEditor: { code: afterPatch, readOnly: true }" style="height: 260px;"></pre>
                        </div>
                    </div>
                </div>
                <div class="tabs-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#patchPut" role="tab" data-toggle="tab">Document Puts <span data-bind="text: putDocuments().length" class="badge"></span></a></li>
                        <li><a href="#patchLoad" role="tab" data-toggle="tab">Document Loads <span data-bind="text: loadedDocuments().length" class="badge"></span></a></li>
                        <li><a href="#patchDebug" role="tab" data-toggle="tab">Output <span data-bind="text: outputLog().length" class="badge"></span></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active jsContent" id="patchPut" data-bind="foreach: putDocuments">
                            <pre data-bind="html: $data"></pre>
                        </div>
                        <div class="tab-pane" id="patchLoad" data-bind="visible: loadedDocuments().length">
                            <pre>
<!-- ko foreach: loadedDocuments --><span data-bind="text: $data"></span>
<!-- /ko -->
</pre>
                        </div>
                        <div class="tab-pane" id="patchDebug" data-bind="visible: outputLog().length">
                            <pre>
<!-- ko foreach: outputLog --><span data-bind="text: $data"></span>
<!-- /ko -->
</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
