@import "bootstrap.less";

@selectionColor: #ffc;
/*@selectionColor: black;*/
html, body {
    height: 100%;
}

#applicationHost {
    padding: 1px;
}

.not-implemented-yet {
    position: relative;
}

.not-implemented-yet:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

#longTimeoutMessage {
    background: yellow;
    font-size: 1em;
    text-align: center;
}

.alert-warning h2 {
    color: white;
}

.alert-info h2 {
    color: white;
}

.alert-text {
    overflow: hidden !important;
    white-space: nowrap !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
}

.table-no-borders td {
    border-top: none !important;
}

.page-host {
    padding: 20px 20px 50px 20px;
    position: relative;
    top: 40px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;

    .message {
        font-size: 5em;
        line-height: 1.5em;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        text-transform: uppercase;
    }
}

.navbar-fixed-top {
    .navbar-inner {
        padding-left: 1em;
        padding-right: 1em;
    }

    .icon-home {
        font-size: 18px;
    }
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.replicationError {
    color: red;
}

.exceptionText {
    white-space: pre-wrap !important;
}

.sqlRepActions {
    .fa-cogs {
        color: grey;
    }

    .fa-cogs:hover {
        color: black;
    }
    a {
        cursor: pointer;
    }
}

#sqlReplicationStats {
    .sqlStatsPanel {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 80vw;
    }

    .sectionTitle {
        text-align: left;
        padding-left: 1em;
        text-decoration: underline;
        margin-top: 1em;
        margin-bottom: 2em !important;
    }

    .subSectionTitle {
        text-align: left;
        padding-left: 6em;
        text-decoration: underline;
        margin-right: 10em;
    }

    .statisticsSection {
        .form-group {
            margin-bottom: 0;

            label {
                padding-top: 0;
            }

            p {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .meterTable {
        overflow-x: visible;
        overflow-y: visible;
        margin-bottom: 1%;
        margin-top: 1%;
        padding-left: 10%;

        .column {
            display: inline-block;
        }

        .headers {
            white-space: nowrap;
        }
    }
}

#sqlReplications {
    .replications-container {
        margin-top: 10px;

        .replication {
            border-radius: 10px;
            box-shadow: 0 0 5px 2px silver;
            min-width: 140px;
            min-height: 60px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;

            @selectColor: rgb(66, 139, 202);
            @hoverColor: lighten(@selectColor, 10%);
            @disabledColor: lighten(silver, 5%);

            .replication-name {
                float: left;
            }

            .btn-group {
                float: right;
                margin-left: 5px;
                margin-top: 3px;
            }

            .btn-default {
                border-color: white;
            }

            .btn-default:hover {
                box-shadow: 0 0 5px 0 @hoverColor;
            }
        }
    }

    .panel {
        overflow: visible !important;
    }

    .enabledReplication {
        color: green;
    }

    .disabledReplication {
        color: red;
    }

    label {
        text-align: left;
    }
}

.sqlReplication-Stats {
    width: 60vw;

    @media(max-width: 767px) {
        width: 80vw;
    }

    max-height: 60vh !important;


    .modal-header {
        max-height: 20%;
    }

    .replicationStatsData {
        max-height: 35vh !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.replicationSimulation {
    max-height: 90vh !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    label {
        text-align: left;
        font-size: large;
    }


    .replicationSimulationData {
        width: 90vw !important;
        max-height: 70vh !important;
        height: 70vh !important;
        overflow-x: hidden;
        overflow-y: hidden;

        .form-group {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .additional-action {
            margin-left: 50%;
            padding: 0;
        }

        .sqlQuery {
            padding-bottom: 1%;
        }

        .parametrizedQuery {
            cursor: pointer;
        }

        .sqlQuery:hover {
            opacity: 0.8;
            text-decoration: underline;
        }

        .simulationResultContainer {
            .simulationResult {
                font-weight: bold;
                font-size: medium;
                margin-bottom: 2.5%;
            }
        }

        nav {
            .btn-toolbar {
                padding-top: 0.5%;
                padding-bottom: 0.5%;
            }
        }
    }
}


@media(max-device-height:1024px) {
    .query-stats {
        width: 80vw !important;
    }
}

@media(min-device-height:1025px) {
    .query-stats {
        width: 50vw !important;
    }
}

.query-stats {
    //margin: -250px 0 0 -450px;
    .row {
        padding-left: 10px;
        padding-right: 10px;


        span {
            -ms-word-break: break-all;
            word-break: break-all;
        }
    }
}

.side-panel {
    li {
        max-width: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
}


.ace_docs {
    font-style: italic !important;
    font-color: red;
    font-weight: bold;
}

.ace_prefix {
    font-style: italic !important;
    font-color: red;
    font-weight: bold;
}
/// taken from https://github.com/ajaxorg/ace-demos/blob/master/scrolling-editor.html
/*
.ace_editor {
        border: 1px solid lightgray;
        margin: auto;
        height: 200px;
        width: 80%;
        position: relative !important
    }*/

.fullScreen .fullScreen-editor {
    height: auto !important;
    width: auto !important;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.fullScreen {
    overflow: hidden;
}

.vertical-bottom-container {
    width: 10% !important;
    padding: 0 40% 0 40% !important;
}

.vertical-navbar-menu-item {
    float: none !important;
    display: block;
    padding: 0 0 0 0;

    a {
        padding: 0 0 0 0;
    }
}

.page {
    padding: 0 10px 20px 10px;
    width: 98%;
}

.btn-group-vertical {
    label, button {
        text-align: left;
    }
}

#resources-page {
    .btn-toolbar {
        margin-bottom: 20px;
    }

    .resources-container {
        margin-top: 10px;

        .resource:hover .checkbox {
            display: block;
        }

        .resource {
            cursor: pointer;
            border-radius: 2px;
            box-shadow: 0 0 5px 2px silver;
            border-left: solid 5px silver;
            min-width: 160px;
            min-height: 70px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;
            position: relative;

            @selectColor: @brand-primary;
            @hoverColor: darken(@selectColor, 10%);
            @enabledColor: darken(@brand-success, 20%); //#3A822D;
            @disabledColor: @brand-danger; // #d9534f;
            .checkbox {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;

                img {
                    height: 25px;
                }
            }

            .details {
                float: left;
                line-height: 215%;

                .resource-name {
                    float: left;
                }

                .disabled {
                    pointer-events: none;
                }

                .stats {
                    color: @enabledColor;
                }

                .stats-disabled {
                    color: @disabledColor;
                }
            }

            .indexing-disabled {
                position: absolute;
                top: 30px;
                right: 11px;
            }

            .clients-rejected {
                position: absolute;
                top: 30px;
                right: 28px;
            }

            .btn-group {
                float: right;
                margin-left: 39.3px;
                margin-top: 50px;

                .dropdown-menu {
                    .fa-arrow-down {
                        color: @alert-danger-bg;
                    }

                    .fa-trash-o {
                        color: lighten(@disabledColor, 20%);
                    }

                    .delete-resource:hover .fa-trash-o {
                        color: white;
                    }
                }

                .dropdown-submenu {
                    position: relative;
                }

                .dropdown-submenu > .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-top: -6px;
                    margin-left: -1px;
                    -webkit-border-radius: 0 6px 6px 6px;
                    -moz-border-radius: 0 6px 6px;
                    border-radius: 0 6px 6px 6px;
                }

                .dropdown-submenu:hover > .dropdown-menu {
                    display: block;
                }

                .dropdown-submenu > a:after {
                    display: block;
                    content: " ";
                    float: right;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 5px 0 5px 5px;
                    border-left-color: #ccc;
                    margin-top: 5px;
                    margin-right: -10px;
                }

                .dropdown-submenu:hover > a:after {
                    border-left-color: #fff;
                }

                .dropdown-submenu.pull-left {
                    float: none;
                }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
            }

            .btn-default {
                padding: 4px;
                padding-left: 10px;
                padding-right: 7px;
                border-color: white;
            }

            .btn-default:hover {
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            .fa-cogs {
                color: grey;
            }

            .fa-cogs:hover {
                color: black;
            }

            &:hover {
                background-color: white;
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            &.selected {
                box-shadow: 0 0 20px 0 @selectColor;
            }

            &.isLoaded {
                border-left: solid 5px @brand-success;
            }

            &.system-database {
                @systemDbColor: rgba(192, 192, 192, 0.21);
                background-color: @systemDbColor;

                &.selected {
                    background-color: darken(@systemDbColor, 70%);

                    a, .text-muted {
                        color: darken(@selectColor, 10%);
                    }
                }
            }
        }
    }
}

.menu-item-disabled {
    a {
        pointer-events: none;
        cursor: default;
        text-decoration: line-through;
    }
}

.index-lock-mode-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

#tenantNameLink {
    padding-left: 5px;
}

.resource-link {
    display: inline-block;
    padding-right: 2px;
    overflow: hidden !important;
    max-width: 250px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resource-caret {
    padding-top: 10px;
}

.resource-link-disabled {
    cursor: default;
}

.dropdown-menu {
    min-width: 0;

    .selected {
        color: #555;
        background-color: #e7e7e7;
    }

    a.btn {
        padding-left: 10px;
        text-align: left;
        color: black;
    }
}

.nounderline {
    text-decoration: none !important;
}

div.btn-group[data-toggle=buttons-radio] button.active {
    background-color: #2F96B4;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#documents-page-container {
    border-right: solid 3px rgba(0, 0,0, .73);
    padding-right: 0;

    ul {
        overflow: auto;
        max-height: 100%;
        padding-right: 15px;
    }
}

.document-collections {

    li {
        outline: none;
        padding-left: 15px;
    }

    li.all-docs-collection {
        padding-left: 0;
    }

    .collection-color-strip {
        margin-right: 5px;
    }

    .collection-text {
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 80%;
    }

    .collection-name {
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 90%;
    }
    }

#index-merge-suggestions {
    .index-name {
        text-decoration: underline;
        font-weight: bold;
    }
}

.index-dropdown {
    right: 0;
    left: auto;

    li > a {
        text-align: left;
    }

    li > a.active {
        box-shadow: inset 0 0 0 rgba(0, 0, 0, .125) !important;
        text-decoration: underline !important;
        font-weight: bold;
    }
}

.indexes-container, #index-merge-suggestions {
    margin-top: 10px;

    .index-group {
        .panel-heading {
            padding-top: 0;

            .panel-title {
                padding-top: 15px;
            }

            .indexGroup-actions-container {
                display: none;
                padding-top: 3px;
            }

            &:hover {
                .indexGroup-actions-container {
                    display: inline-block;
                }
            }
        }
    }
}

#logsContainer {
    .logButtons {
        margin-left: 0;
    }

    .form-group {
        margin-left: 1%;
    }

    .statsBar {
        padding-left: 5%;
        background-color: aliceblue;
    }
}

#watchTrafficContainer {

    .logButtons {
        margin-left: 0;
    }

    .form-group {
        margin-left: 3px;
    }

    .log-table-row {
    }

    .selected .column {
        background-color: #ffffcc;
    }

    .statsBar {
        margin-top: 1%;
        padding-left: 5%;
        background-color: aliceblue;
    }

    .column {
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        padding: 5px;
        height: 30px;
    }

    #logTableContainer {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .logRecords {
            flex-basis: auto;
            flex-grow: 1;
            overflow-y: auto;
        }
        .log-details {
            flex-basis: content;
            border: thin dashed black;
            padding-top: 5px;
            margin-top: 5px;
        }
    }

}

#logNotificationsContainer {
    background-color: black;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;

    div {
        padding-left: 2%;
        color: white;
    }
}

#logsContainer {
    .column {
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 5px;
        height: 30px;
    }

    .selected .column {
        background-color: @selectionColor;
        color: black;
    }

    .logRecord {
        .logName .logName-actions-container {
            display: none;
        }

        &:hover {
            .logName-actions-container {
                display: inline-block;
            }
        }
    }
}

.settings-container {

    .api-key-card, .win-auth-card {
        display: inline-block;
        width: 500px;
        margin-right: 20px;
    }

    .replication-destination-card {
        display: inline-table;
        width: 500px;
        margin-right: 20px;
    }

    .win-auth-tabs {
        padding: 15px;

        .win-auth-panels-container {
            margin-top: 15px;
        }
    }

    .database-table {
        margin-bottom: 0px;

        td {
            padding: 3px;
        }
    }

    .table-sql-replication-tables {
        margin-bottom: 0px;
    }

    .database-header, .sql-replication-tables-header {
        .narrow-column {
            width: 75px;
        }

        .narrowest-column {
            width: 1px;
        }
    }

    .database-row {
        .form-control {
            border-radius: 3px;
            height: 26px;
            font-size: 12px;
        }
    }

    .sql-replication-panel-body {
        padding-bottom: 0px;
    }

    .sql-replication-script-container {
        .editor {
            height: 100px;
        }
    }
}

.collection-style-0 {
    background-color: rgb(0, 199, 0);
}

.collection-style-1 {
    background-color: rgb(199, 0, 154);
}

.collection-style-2 {
    background-color: red;
}

.collection-style-3 {
    background-color: rgb(0, 149, 239);
}

.collection-style-4 {
    background-color: rgb(167, 0, 104);
}

.collection-style-5 {
    background-color: rgb(0, 100, 100);
}

.collection-style-6 {
    background-color: rgb(120, 50, 199);
}

.collection-style-7 {
    background-color: rgb(199, 40, 40);
}

.collection-style-8 {
    background-color: rgb(199,199,0);
}

.collection-style-9 {
    background-color: rgb(199, 0, 199);
}

.collection-style-10 {
    background-color: rgb(254, 128, 0);
}

.collection-style-11 {
    background-color: rgb(0, 149, 254);
}

.collection-style-12 {
    background-color: rgb(149, 254, 199);
}

.collection-style-13 {
    background-color: rgb(149, 0, 254);
}

.collection-style-14 {
    background-color: rgb(149, 0, 0);
}

.collection-style-15 {
    background-color: rgb(149, 254, 0);
}

.collection-style-16 {
    background-image: linear-gradient(rgb(0, 199, 0), rgb(199, 0, 154));
}

.collection-style-17 {
    background-image: linear-gradient(rgb(199, 0, 154),red);
}

.collection-style-18 {
    background-image: linear-gradient(red,rgb(0, 149, 239));
}

.collection-style-19 {
    background-image: linear-gradient(rgb(0, 149, 239),rgb(167, 0, 104));
}

.collection-style-20 {
    background-image: linear-gradient(rgb(167, 0, 104),rgb(0, 100, 100));
}

.collection-style-21 {
    background-image: linear-gradient(rgb(0, 100, 100),rgb(120, 50, 199));
}

.collection-style-22 {
    background-image: linear-gradient(rgb(120, 50, 199),rgb(199, 40, 40));
}

.collection-style-23 {
    background-image: linear-gradient(rgb(199, 40, 40),rgb(199,199,0));
}

.collection-style-24 {
    background-image: linear-gradient(rgb(199,199,0),rgb(199, 0, 199));
}

.collection-style-25 {
    background-image: linear-gradient(rgb(199, 0, 199),rgb(254, 128, 0));
}

.collection-style-26 {
    background-image: linear-gradient(rgb(254, 128, 0),rgb(0, 149, 254));
}

.collection-style-27 {
    background-image: linear-gradient(rgb(0, 149, 254),rgb(149, 254, 199));
}

.collection-style-28 {
    background-image: linear-gradient(rgb(149, 254, 199),rgb(149, 0, 254));
}

.collection-style-29 {
    background-image: linear-gradient(rgb(149, 0, 254),rgb(149, 0, 0));
}

.collection-style-30 {
    background-image: linear-gradient(rgb(149, 0, 0),rgb(149, 254, 0));
}

.collection-style-31 {
    background-image: linear-gradient(rgb(149, 254, 0),rgb(0, 199, 0));
}

.system-documents-collection {
    background-color: rgb(18, 60, 101);
}

.all-documents-collection {
    background: rgb(2,6,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,2,2,1) 0%, rgba(255,242,2,1) 27%, rgba(2,255,27,1) 54%, rgba(2,6,255,1) 79%, rgba(246,2,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,2,2,1)), color-stop(27%,rgba(255,242,2,1)), color-stop(54%,rgba(2,255,27,1)), color-stop(79%,rgba(2,6,255,1)), color-stop(100%,rgba(246,2,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#f602ff',GradientType=0 ); /* IE6-9 */
}

#nprogress {
    position: absolute;
    z-index: 9999;

    .bar {
        background-color: darken(@gray-lighter, 12%);
        position: fixed;
        z-index: 100;
        top: 55px;
        left: 0;
        opacity: .7;
        width: 100%;
        height: 3px;
        /*box-shadow: 0 0 10px 0 @gray-light;*/
    }

    .spinner-icon {
        opacity: 0;
        border-top-color: rgba(2,255,27,1);
        border-left-color: rgba(2,255,27,1);
    }

    .peg {
        opacity: 0;
    }
}

.collection-resize {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10px;
    top: 0;
    cursor: col-resize;
}

.documents-page {
    margin-top: 10px;

    @media(max-device-height:1024px) {
        a {
            font-size: 12px !important;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .documents-select {
        text-align: center;
        background-color: @selectionColor;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid @gray-light;

        .select-link {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    #loadingIndicator {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.fieldControl {
    text-align: left !important;

    @media(max-device-height:1024px) {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 95%;
    }
}

.control-label-additional-link {
    display: block;
    font-size: 80%;
}

.collection-color-strip {
    height: 20px;
    width: 4px;
    display: inline-block;
    vertical-align: middle;
}

#editIndex {
    .map {
        height: 120px;
    }
}

@media (max-device-height: 1024px) {
    .innerWindowsStyle .popover {
        width: 45% !important;
        max-width: 45% !important;
    }
}

.popover {
    max-width: 30%;
}

#queryContainer, #reportingContainer {

    .breadcrumb {
        width: 100%;

        .dropdown-menu {
            li {
                overflow-x: visible !important;
                max-width: none !important;
            }
        }
    }

    .breadcrumb > li {
        overflow: visible !important;
    }


    .editor {
        height: 60px;
    }

    .popover {
        max-width: 450px;
        width: 450px;
    }

    .form-horizontal {
        overflow: hidden auto;
    }

    .side-panel {

        li {
            max-width: 100% !important;
            margin-top: 5%;
            margin-bottom: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }

    .suggestion-box {
        position: absolute;
        display: table-cell;
        z-index: 200;
        left: 30px;
        right: 30px;
        top: 110px;
        bottom: 30px;
        text-align: center;
        vertical-align: middle;
        padding-top: 40px;
    }
}

#gridContextMenu {
    z-index: 100;
    position: relative;
}

.ko-grid {
    &:focus {
        outline: 0;
    }

    .ko-grid-column-container {
        white-space: nowrap;
        overflow: hidden;

        .ko-grid-column-header {
            display: inline-block;
            font-weight: bold;
            padding: 8px;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;

            &:hover {
                .ko-grid-column-handle {
                    display: block; /* Display the grid size bars only when we mouse over the columns */
                }
            }

            .ko-grid-column-handle {
                display: none;
                width: 4px;
                height: 20px;
                float: right;
                cursor: col-resize;
                position: relative;
                z-index: 1;
                background-color: hsl(0, 0%, 80%);
                box-shadow: hsl(0, 0%, 60%) 0px 0px 5px inset;
            }
        }
    }

    .ko-grid-viewport-container {
        position: relative;
        overflow-y: auto;
    }

    .ko-grid-viewport {
    }

    .ko-grid-row {
        position: absolute;
        background-color: rgb(249, 249, 249);
        border-top: 1px solid rgb(221, 221, 221);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;

        &.even {
            background-color: white;
        }

        &.checked {
            box-shadow: 5px 0 0 0 @brand-primary inset, -5px 0 0 0 @brand-primary inset;
            background-color: @selectionColor;
        }
    }

    .ko-grid-cell {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        padding: 8px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
}

.code-keyword {
    color: blue;
}

.code-string {
    color: hsl(0, 84%, 42%);
}

.help-cursor {
    cursor: help;
}

.breadcrumb {
    width: 100%;

    li {
        overflow: hidden !important;
        white-space: nowrap !important;
        -ms-text-overflow: ellipsis !important;
        -o-text-overflow: ellipsis !important;
        text-overflow: ellipsis !important;
        max-width: 50% !important;
    }

    h3 {
        margin-bottom: 0;
    }

    @media(max-device-height:1024px) {

        h3 {
            font-size: 16px !important;
            display: inline-block !important;
        }

        a {
            font-size: 14px !important;
            display: inline-block !important;
        }

        span {
            font-size: 14px !important;
            display: inline-block !important;
        }

        i {
            font-size: 15px !important;
            display: inline-block !important;
        }
    }
}

.studio-alerts {
    position: fixed;
    top: 60px;
    left: 40%;
    z-index: 2000;
    width: 400px;
}

#editSQLReplication {
    .btn:focus {
        outline: 0;
    }
}

#editDocumentContainer {
    &:focus {
        outline: 0;
    }

    #docEditor {
        height: 500px;
    }

    .document-addition-data {
        margin-top: 95px;
        padding-top: 10px;
        padding-bottom: 40px;
        max-width: 41%;

        span {
            overflow: hidden !important;
            white-space: nowrap !important;
            -ms-text-overflow: ellipsis !important;
            -o-text-overflow: ellipsis !important;
            text-overflow: ellipsis !important;
            max-width: 50% !important;
        }
    }

    hr {
        margin-top: 5px;
    }

    .query-metadata {
        padding-top: 20px;
    }

    .documents-links-container {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
        -moz-column-gap: 30px; /* Firefox */
        column-gap: 30px;
        -moz-column-width: 10px;
        -webkit-column-width: 10px;
        column-width: 10px;

        .document-link {
            margin-left: 10px;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

.keyboard-shortcut {
    margin-left: 20px;
}

.single-line-row-table {
    table-layout: fixed;
    width: 100%;
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    cursor: pointer;

    tbody {
        td {
            overflow: hidden;
            white-space: nowrap;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

#shellHeader {
    #environment-header {
        position: fixed;
        z-index: -1;
        margin-left: 45%;
        font-size: 40px;
        opacity: 0.8;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;

        .navbar-nav {
            padding-left: 10px;
        }

        .navbar-right {
            padding-left: 0px;
        }
    }

    #goToDocInput {
        width: 9em;
    }
    /* When the screen width < 1150, shrink down the padding between the nav bar items. */
    @media (max-width: 1150px) {
        .nav {
            li {
                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        .databases {
            padding-right: 0px;
        }

        .navbar-form {
            padding-left: 5px;
            padding-right: 5px;

            #goToDocInput {
                width: 6em;
            }
        }
    }
    /* Tiny screens (phones, etc) will collapse the navbar into a drop down. */
    @media(max-width: 767px) {
        #topNavBarCollapse {
            padding-left: 40px;
        }
    }

    .navbar-splitbutton {
        > a {
            padding-right: 5px !important;
        }

        + .dropdown {
            cursor: pointer;

            > a {
                padding-left: 0;
                padding-right: 8px;
            }
        }
    }
}

#shellFooter {
    @media(max-width: 767px) {
        display: none;
    }

    @media(max-width: 1150px) {
        // When we're in a small width window, we don't have enough space to show everything in the footer.
        // Hide the status link and the server build link.
        .status-link {
            display: none;
        }

        .server-build-link {
            display: none;
        }

        .client-build-link {
            display: none;
        }
    }
    /*ul {
        width: 100% !important;
    }

    li {
        max-width: 20% !important;
        margin: 0;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        a {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
            font-size: 100% !important;
        }
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }*/
}

#editTransformerContainer .transformer {
    height: 600px;
}


.auto-complete {
    background-color: white;
}

#logsContainer, #alertsContainer, #indexErrorsContainer, #requestTracingContainer {
    @media(max-device-height:1024px) {
        button {
            max-height: 50% !important;
        }
    }

    table {
        outline: none;

        .selected {
            td {
                background-color: @selectionColor;
                color: black;
            }
        }
    }

    .log-details, .alerts-details, .index-errors-details {
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;

        .exceptionText {
            white-space: pre-wrap;
        }
    }

    .unread {
        td {
            font-weight: bold;
        }
    }

    .logButtons {
        margin-left: 0;
    }

    .form-group {
        margin-left: 1px;
    }

    .column {
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 5px;
        height: 30px;
    }

    .selected .column {
        background-color: #ffffcc;
    }

    #logTableContainer {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: visible;

        .logHeaders {
            max-width: 80vw;
            width: 80vw;
            margin-left: calc(100vw - 100%);
        }

        .logRecords {
            max-height: 60vh;
            max-width: 80vw;
            width: 80vw;
            overflow-y: auto;
        }

        .logRecords-small {
            max-height: 30vh;
        }

        .log-details {
            max-height: 30vh;
            height: 30vh;
            overflow-y: auto;
            border-top-width: 2px;
            margin-top: 1%;
            padding-top: 1%;
            border: thin dashed black;
            width: 60vw;
            margin-left: 1%;
        }
    }
}

#databaseSettingsContainer {
    #dbDocEditor {
        height: 500px;
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }
}

.text-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    background-color: silver;
    color: black;
    border-top: 2px solid black;
    width: 100%;

    ul {
        height: 32px;
    }
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px;
}

#recentErrorsDialog {
    height: 500px;
    width: 600px;

    .modal-body {
        height: 350px;
        overflow-y: auto;
    }

    .error-details, .http-status {
        width: 100%;
    }
}

.dialogResizer {
    //background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    cursor: se-resize;
    border-radius: 0 0 6px 0;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 53%, hsla(0,0%,0%,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(53%,hsla(0,0%,0%,0)), color-stop(100%,hsla(0,0%,0%,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 53%,hsla(0,0%,0%,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 53%,hsla(0,0%,0%,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 53%,hsla(0,0%,0%,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 53%,hsla(0,0%,0%,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#scriptedIndex {
    .map {
        height: 160px;
    }
}

.advanced-replication-settings {
    cursor: pointer;
}

#replicationTopologySection {
    svg {
        background-color: #FFF;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    path.link {
        fill: none;
        stroke: @brand-success;
        stroke-width: 5px;
        cursor: default;
    }

    path.link.error {
        stroke: @brand-danger;
    }

    svg:not(.active):not(.ctrl) path.link {
        cursor: pointer;
    }

    path.link.selected {
        stroke-dasharray: 10,2;
    }

    path.link.hidden {
        stroke-width: 0;
    }

    rect.node {
        stroke-width: 1.5px;
        fill: fadeOut(@brand-primary, 85%); // rgb(31, 119, 180);
        stroke: darken(@brand-primary, 10%);
    }

    text {
        font: 12px sans-serif;
        pointer-events: none;
    }

    text.id {
        text-anchor: middle;
        font-weight: bold;
    }

    table {
        table-layout: fixed;

        td {
            -ms-word-break: break-all;
            word-break: break-all;
        }
    }
}

#status-debug > ul.nav {
    margin-bottom: 15px;
}

.popover-lg {
    max-width: 800px;
    width: 600px;
}

.license-inactive {
    pointer-events: none;
    cursor: default;
    color: hsl(0, 0%, 80%) !important;
    box-shadow: none !important;
    background-color: #eeeeee !important;
    border-color: #e2e2e2 !important;
}

.licensing-status {
    .form-group {
        max-height: 30vh !important;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .license-error {
        color: @brand-danger !important;
    }
}

:invalid {
    outline: 0; /* IE 10 */
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

.versioning-inner-margin {
    margin-left: 25px;
    margin-right: 25px;
}

// Start of icons
/* 
Don't use remove-icon. Instead, use Bootstrap's built-in close/remove button: 

    // For modals:
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    // For everything else:
    <button type="button" class="close"><i class="fa fa-times"></i></button>

.remove-icon {
    color: #d2322d;
    border-color: #802925;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
        color: #ac2925;
    }
}*/

.alert-danger .close .fa-times {
    color: white;
}

.alert-info .close .fa-times {
    color: white;
}

.panel-info > .panel-heading .close .fa-times {
    color: white;
}

.panel-danger > .panel-heading .close .fa-times {
    color: white;
}

.close {
    .fa-times {
        color: @gray;

        &:hover {
            color: @gray-darker;
        }
    }
}

/*.fa-plus {
    color: #58cc46;
}*/
// End of icons

// Start of Filesystems
#fileSystemFilesPage {
    .files-select {
        text-align: center;
        background-color: @selectionColor;
        margin-top: 5px;
        border: 1px solid;
        padding: 5px;
        border: 1px solid @gray-light;

        .select-link {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#editFileContainer {
    &:focus {
        outline: 0;
    }

    #fileMetadataEditor {
        height: 500px;
    }

    .document-addition-data {
        margin-top: 95px;
        padding-top: 10px;
        padding-bottom: 40px;
        max-width: 41%;
    }

    hr {
        margin-top: 5px;
    }

    .query-metadata {
        padding-top: 20px;
    }

    .documents-links-container {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
        -moz-column-gap: 30px; /* Firefox */
        column-gap: 30px;
        -moz-column-width: 10px;
        -webkit-column-width: 10px;
        column-width: 10px;

        .document-link {
            margin-left: 10px;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

#editCounterContainer {
    &:focus {
        outline: 0;
    }

    .counter-recent {
        margin-top: 95px;
        padding-top: 10px;
        padding-bottom: 40px;
        max-width: 41%;
    }

    hr {
        margin-top: 5px;
    }

    .counter-recent-internal {
        padding-top: 20px;
    }

    .counters-links-container {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
        -moz-column-gap: 30px; /* Firefox */
        column-gap: 30px;
        -moz-column-width: 10px;
        -webkit-column-width: 10px;
        column-width: 10px;

        .counter-link {
            margin-left: 10px;
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

.upload-queue {
    position: fixed;
    width: 100%;
    bottom: 50px;
    left: 0;
    height: 300px;
    z-index: 9999;
    margin-bottom: 0;
    background-color: #f5f5f5;
}

.upload-queue-min {
    height: 40px !important;
}

.upload-queue-collapsed {
    padding: 0 0 0 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// End of Filesystems

.quotas-settings-form {
    .input-group-addon {
        min-width: 65px;
    }

    .row {
        margin-bottom: 5px;
    }

    input[type=number] {
        text-align: right;
    }

    .input-group {
        max-width: 300px;
    }
}

.custom-functions-form {
    .editor {
        height: 500px;
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }
}

.versioning-settings-form {
    .versioning-card {
        display: inline-table;
        width: 500px;
        margin-right: 20px;
    }
}


.ace-github .ace_boolean {
    font-weight: normal !important;
    color: rgb(0, 0, 255);
}

.ace-github .ace_null {
    font-weight: normal !important;
    color: rgb(0, 0, 255);
}

.metricsContainer {

    .nv-point {
        stroke-linecap: round;
        stroke-width: 5px;
    }

    svg {
        overflow: hidden;
    }

    div {
        border: 0;
        margin: 0;
    }
}


.custom-table {
    height: 43vh;
}

.custom-table-tbody {
    overflow-y: scroll;
    height: 43vh;
    position: absolute;
}

.column-header {
    font-weight: bold;
    border-bottom: 2px solid #ddd;

    &:hover {
        .column-handle {
            display: block;
        }
    }

    .column-handle {
        display: none;
        width: 4px;
        height: 20px;
        float: right;
        cursor: col-resize;
        position: relative;
        z-index: 1;
        background-color: hsl(0, 0%, 80%);
        box-shadow: hsl(0, 0%, 60%) 0px 0px 5px inset;
    }
}

.messageBox {
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

// Note: Instead of .pressed, use the Bootstrap built-in .active.
// Or if you're looking for toggle buttons, see Bootstrap's bult-in toggle button: http://getbootstrap.com/javascript/#buttons
/*.pressed {
    background-color: #73c773 !important;
    border-color: #61b261 !important;
}*/

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.jsContent, .nvtooltip {
    .string {
        color: #D14;
    }

    .number {
        color: #099;
    }

    .boolean {
        color: #0000ff;
    }

    .null {
        color: #0000ff;
    }

    .key {
        color: #000;
    }
}


.nvtooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.61);
}

.nvd3 {
    .nv-brushBackground rect {
        stroke: none;
    }

    .nv-brush .extent {
        fill: gray;
        fill-opacity: 0.1 !important;
    }
}

.topBorder td {
    border-top: solid 1px #ddd !important;
}

.confirmationMessage {
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: pre-line;
}

.scrollable-resource-menu {
    max-height: 250px;
    overflow-x: hidden;
}

#resources-page .resources-container .resource.fs {
    a.resource-name {
        color: #7109AA;
    }

    &:hover {
        box-shadow: 0 0 5px 0 lighten(#7109AA, 20%);
        -webkit-box-shadow: 0 0 5px 0 lighten(#7109AA, 20%);
        -moz-box-shadow: 0 0 5px 0 lighten(#7109AA, 20%);
    }

    &.selected {
        box-shadow: 0 0 20px 0 #7109AA;
        -webkit-box-shadow: 0 0 20px 0 #7109AA;
        -moz-box-shadow: 0 0 20px 0 #7109AA;
    }
}

#resources-page .resources-container .resource.cs {
    a.resource-name {
        color: #0f6716;
    }

    &:hover {
        box-shadow: 0 0 5px 0 lighten(#0f6716, 20%);
    }

    &.selected {
        box-shadow: 0 0 20px 0 #0f6716;
    }
}

.form-checkbox-control {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.help_link, a.global_help_link {
    color: #152894;

    &:hover {
        color: darken(#152894, 10%);
    }

    &:focus {
        color: #152894;
    }
}

.global_help_link {
    float: right;
    margin-top: 5px;
}

.breadcrumb .global_help_link {
    float: right;
    margin-top: 10px;
}

.negative-margin {
    margin-top: -10px;
}

.padd-top-10 {
    padding-top: 10px;
}
.padd-left-10 {
    padding-left: 10px;
}

.padd-right-10 {
    padding-right: 10px;
}

#indexingPerformance {
    background-color: white;
}

#visualizerContainer {
    background-color: white;
}

.handle {
    float: left;
    pointer-events: all;
    cursor: move;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.tight {
    margin-top: 3px;
    margin-bottom: 3px;
}

.text-height-fix {
    line-height: 34px;
}

.alert-danger a {
    color: white;
}

.experimental {
    font-size: 9px;
    font-weight: bold;
    color: red;
}

.time-series-label {
    width: 55px;
    display: inline-block;
    font-weight: bold;
}

.auto-refresh {
    position: relative;

    .circleRefresh {
        position: absolute;
        cursor: default;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -ms-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
        transition: opacity .2s linear;

        svg circle {
            fill: none;
            stroke-width: 5;
            stroke: #fff;
        }
       
    }

    .timer {
        -ms-opacity: 1; 
        opacity: 1;
    }

    svg path {
        fill: none;
        stroke-width: 5;
        stroke: #f36523;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); 
        transform: rotate(0deg);
    }

    .circleRefresh.dashed svg path {
        stroke-dasharray: 18;
        -webkit-animation: anim-rotate 4s infinite linear; 
        -moz-animation:    anim-rotate 4s infinite linear; 
        -o-animation:      anim-rotate 4s infinite linear; 
        animation:         anim-rotate 4s infinite linear; 
    }
}
        
@-webkit-keyframes anim-rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-moz-keyframes anim-rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes anim-rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes anim-rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-outline {
    outline-style: none;
}

.fa-infinity {
    font-family: inherit;
    line-height: 14px;

    &:before {
        content: '\221E';
        color: @text-color;
        font-family: inherit;
        font-size: 32px;
        margin-top:-7px;
        top:7px;
        position:relative;
        display:inline-block;
    }
}

.border-danger {
    border:2px dashed darken(@gray-lighter,10%);
    border-radius:8px;
    font-size:13px;
    margin-bottom:10px;

    .icon-xl {
        margin:20px 0;
        .fa {
            font-size:62px !important;
            color:darken(@gray-lighter,9%);

            &.text-danger{
                color:lighten(@brand-danger,10%);
            }
        }
    }
}

#licenseSupportModal {
    width:840px !important;

    .path {
        word-break:break-word;
        font-size:15px;
        color:@gray;
        font-weight:bold;
    }

    .expire-date {
        font-size:11px;
        color:@gray-light;
    }

    .license-table {
        overflow-y:auto;
        max-height:420px;

        table {
            td {
                width: 50%;
            }
        }
    }

    .bg-gray {
        background-color: @gray-lighter;
        overflow:hidden;
    }

    .padding {
        padding: 20px;
    }


    .roundborder {
        
        display: inline-block;
        width: 100px;
        height: 100px;
        position: relative;

        @media (min-height:900px) {
            margin-top: 30px;
            width: 150px;
            height: 150px;
        }


        & + hr {
        }

        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 300px;
            border: solid 8px @gray-lighter;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 85%;
            height: 85%;
            border: none;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }


        &.commercial {
            &:after {
                border-color: @brand-success;
            }
        }

        &.expired {
            &:after {
                border-color: @brand-primary;
            }
        }

        &.no-support, &.dev-only {
            .fa {
                color: @brand-danger;
            }

            &:after {
                border-color: @gray-lighter;
            }
        }

        &.hot-spare {
            .fa {
                color: @brand-primary;
            }

            &:after {
                border-style: dotted;
                border-color: @brand-warning;
            }
        }

        &.professional-support {
            &:before {
                border: solid 8px @gray-lighter;
            }

            &:after {
                border-color: @brand-success;
            }
        }


        &.production-support {

            &:before {
                border: solid 8px @brand-success;
            }

            &:after {
                border-color: @brand-success;
            }
        }

        &.partial-support {
            &:after {
                border-color: @brand-success;
                border-left-style: dotted;
                border-bottom-style: dotted;
            }
        }

        .fa {
            color: @gray;
            font-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);

            @media (min-height:900px) {
                font-size: 70px;
                }
        }
    }


    .bg-gray {

        @media (min-height:900px) {
            margin-top: 30px;
        }

        .fa {
            font-size: 18px;
        }

        th {
            color: @brand-info;

            h4 {
                color: @brand-primary;
            }
        }

        .support-table {



            td + td, th + th {
                border-left: 1px solid darken(@gray-lighter,7%);
            }


            td, th {
                text-align: center;
            }

            .fa {
                display: block;
                margin: 10px;
                font-size: 22px;
                color: darken(@gray-lighter,20%);
               line-height: 12px;
            }

            .text-muted {
                color: darken(@gray-lighter,30%);
                display: block;
            }
        }

        td, th {
            vertical-align: top;
            padding: 7px 0;
            border-bottom: 1px solid darken(@gray-lighter,7%);
            font-size: 12px;
            padding-left: 10px;
            padding-right: 10px;
        }

        tr:last-of-type {
            td {
                border-bottom: none;
            }
        }

        tr:first-of-type {
            .active {
                border-top: 2px solid darken(@gray-lighter,10%);
            }
        }

        .active {
            background-color: darken(@gray-lighter,2%);
        }
    }

    table.alternate-align {
        td {
            &:nth-of-type(2n-1) {
                text-align: right;
            }
        }
    }
    .modal-body {
        h3 {
            color: @gray;
        }

        h4 {
            color: @gray;
        }
    }

    .fa-times {
        color: @brand-danger;
    }

    .fa-check {
        color: @brand-success;
    }
}



#shellFooter {
    button {
        margin-top: 7px;
        border-width:1px;
    }

    .btn-group {
        .btn {
            border-bottom: 0 !important;
            padding: 8px 10px 4px;
        }
    }

    .roundborder {
        display: inline-block;
        width: 28px;
        height: 28px;
        position: relative;
        top: 5px;
        margin-top: -10px;


        &:after {
            //content:'';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 300px;
            //border:solid 14px #FFF;
            background-color: #FFF;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }


        .fa {
            z-index: 1;
            color: @gray;
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }


    .expired {
        background-color: @brand-primary !important;

         .roundborder {
            .fa {
                color: #FFF;
            }
        }
    }

    .no-support, .dev-only {
        background-color: @brand-danger !important;

        .roundborder {
            .fa {
                color: #FFF;
            }
        }
    }

    .hot-spare {
        background-color: @brand-warning !important;

        .roundborder {
            .fa {
                color: #FFF;
            }
        }
    }

    .professional-support, .production-support, .commercial {
        background-color: @brand-success !important;

        .roundborder {
            .fa {
                color: #FFF;
            }
        }
    }



    .partial-support {
        background-color: desaturate(lighten(@brand-success,15%),20%) !important;
    }
}

.no-matches {
    padding: 30px;
    text-align: center;
}

.admin-settings-container li.disabled a {
    pointer-events: none;                     
}

.bs-code-output
{
    position: relative;
    margin: 10px;
    padding: 28px 0 0;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    pre {
        border: 0;
        margin-bottom: 0;
        border-radius: 0 0 4px 4px;
        border-top: 1px solid #ddd;
    }
}

.bs-status {
    font-size: 12px;
    font-weight: bold;
    color:  #9DA0A4;
}

.bs-code-output .header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: -1px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bs-code-output:not(.skip-header)::after
{
    content: attr(data-title);
    position: absolute;
    top: 5px;
    left: 5px;
    right: -1px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.panel.panel-wo-margin {
    margin: 0;
}
.panel-group.panel-group-wo-margin {
    margin: 0;
}





/* Override default awesome bootstrap checkbox style - start */
.checkbox label::after {
    padding-top: 3px !important;
}

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    background-color: #fff !important;
}

.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before {
  background-color: @brand-primary;
  border-color: @brand-primary;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  color: #fff;
}

.radio input[type="radio"] + label::after {
  background-color: @brand-primary;
}
.radio input[type="radio"]:checked + label::before {
  border-color: @brand-primary;
}
.radio input[type="radio"]:checked + label::after {
  background-color: @brand-primary;
}

.checkbox input[type="checkbox"]:indeterminate + label::before,
.checkbox input[type="radio"]:indeterminate + label::before {
  background-color: @brand-primary;
  border-color: @brand-primary;
}

.checkbo input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.ko-grid .checkbox label {
    pointer-events: none;
}
.ko-grid .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
/* Override default awesome bootstrap checkbox style - end */

/**
    Multiselect customization required for awesome checkboxes, see: http://jsfiddle.net/natearmagost/aznvcLps/
*/
.multiselect-container {
    div.checkbox {
        margin: 0;
        padding: 5px 15px 5px 35px;
    }
    label {
        margin: 0;
        white-space: nowrap;
        width: 100%;
    }
}

// multiselect customization ends here


.flex-container {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    .flex-grow {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        overflow-y: auto;
    }
}

