<section id="logsContainer" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <div class="form-horizontal">
        <button class="btn btn-default" data-bind="autoRefresh: { duration: 2000, onRefresh: $root.fetchLogs.bind($root), active:true }"></button>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" data-bind="click: setFilterAll">
                <input type="radio" name="options" id="option1"> <span data-bind="text: 'All logs (' + allLogs().length + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterDebug">
                <input type="radio" name="options" id="option2"> <span data-bind="text: 'Debug (' + debugLogCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterInfo">
                <input type="radio" name="options" id="option3"> <span data-bind="text: 'Info (' + infoLogCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterWarning">
                <input type="radio" name="options" id="option4"> <span data-bind="text: 'Warnings (' + warningLogCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterError">
                <input type="radio" name="options" id="option5"> <span data-bind="text: 'Errors (' + errorLogCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterFatal">
                <input type="radio" name="options" id="option6"> <span data-bind="text: 'Fatal (' + fatalLogCount() + ')'"></span>
            </label>
        </div>
        <form class="form-inline" style="display: inline-block; vertical-align: middle;">
            <input type="text" class="form-control col-md-8" placeholder="Filter" data-bind="value: searchText, valueUpdate: 'afterkeydown', submit: function(){ }" />
        </form>
        <div class="form-group" id="logTableContainer"  data-bind="event: { keydown: tableKeyDown }">
            <div style="padding-top: 10px;" data-bind="foreach: filteredLoggers">
                <button class="btn btn-default" data-bind="click: $root.unHidelogType.bind($root)">
                    <span data-bind="text: $data"></span>
                    <span class="fa fa-times"></span>
                </button>
            </div>
            <div class="form-group logHeaders">
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[0]() + '%' }">
                    <span class="column-handle" column="0"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'level')">Level</span>
                    <span data-bind="visible: $root.sortColumn() === 'level'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[1]() + '%' }">
                    <span class="column-handle" column="1"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'dateRaw')">Logged</span>
                    <span data-bind="visible: $root.sortColumn() === 'dateRaw'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[2]() + '%' }">
                    <span class="column-handle" column="2"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'message')">Message</span>
                    <span data-bind="visible: $root.sortColumn() === 'message'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[3]() + '%' }">
                    <span class="column-handle" column="3"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'exception')">Exception</span>
                    <span data-bind="visible: $root.sortColumn() === 'exception'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[4]() + '%' }">
                    <span class="column-handle" column="4"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'loggerName')">Log name</span>
                    <span data-bind="visible: $root.sortColumn() === 'loggerName'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
            </div>
            <div id="logRecords" class="form-group logRecords no-outline" style="white-space: nowrap" tabindex="-1" data-bind="foreach: allLogs, delegatedHandler: 'click'">
                <div id="logRecordsContainer" style="display: block; white-space: nowrap" class="logRecord log-table-row" data-click="selectLog" data-bind="visible: isVisible, css: { warning: level() === 'Warn', danger: level() === 'Error' || level() === 'Fatal', 'selected': $data === $parent.selectedLog() }">
                    <div class="column" data-bind="style: { width: $root.columnWidths[0]() + '%' }, text: level"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[1]() + '%' }, text: humanizedTimestamp, attr: { title: humanizedTimestamp() + timeStampText() }"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[2]() + '%' }, text: message, attr: { title: message }"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[3]() + '%' }, text: exception() ? exception : '-', attr: { title: exception }"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[4]() + '%' }, text: loggerName"></div>
                </div>
            </div>
            <div class="form-group log-details panel panel-default" data-bind="visible: showLogDetails">
                <form class="col-md-10" role="form" data-bind="with: selectedLog">
                    <div class="row">
                        <label class="col-md-2 text-right control-label">Message</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: message"></p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 text-right control-label">Exception</label>
                        <div class="col-md-10">
                            <p class="form-control-static exceptionText" data-bind="text: exception() || '-'"></p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 text-right control-label">Logged</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: humanizedTimestamp() + timeStampText()"></p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 text-right control-label">Level</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: level, css: { 'text-warning': level() === 'Warn', 'text-danger': level() === 'Error' || level() === 'Fatal' }"></p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 text-right control-label">Logger</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: loggerName"></p>
                        </div>
                    </div>
                </form>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-default" data-bind="click: $root.unSelectLog.bind($root)">Hide</button>
                    </div>
                    <div class="btn-group pull-right" data-bind="with: selectedLog">
                        <button class="btn btn-default" data-bind="click: $root.hideLogType.bind($root), attr:{title: 'Filter out all ' + loggerName().split('.').slice(2).join('.') + ' logs'}">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
