<style>
.column {
    display: inline-block;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;

    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding: 5px;

    height: 30px;
}

.selected .column {
    background-color: #ffffcc;
}

</style>
<section id="runningTasksContainer" style="width: 100%" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <div style="height: 65%; position: relative;">
        <button class="btn btn-default" data-bind="autoRefresh: { duration: 5000, onRefresh: $root.fetchTasks.bind($root), active:true }"></button>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" data-bind="click: setFilterTypeAll">
                <input type="radio" name="options" id="option0"> <span data-bind="text: 'All tasks (' + allTasks().length + ')'"></span>
            </label>
            <!-- ko foreach: taskTypes -->
            <label class="btn btn-default" data-bind="click: $root.setFilterType.bind($root, name)">
                <input type="radio" name="options"> <span data-bind="text:  name + ' (' + count + ')'"></span>
            </label>
            <!-- /ko -->
        </div>
        <form class="form-inline" style="display: inline-block; vertical-align: middle;">
            <input type="text" class="form-control col-md-8" placeholder="Search" data-bind="value: searchText, valueUpdate: 'afterkeydown'" />
        </form>
        <div id="runningTasksTableContainer" class="no-outline" tabindex="-1" data-bind="event: { keydown: tableKeyDown }" style="overflow-y: auto; overflow-x: auto; position: absolute; top: 40px; bottom: 10px; width: 100%;">
            <div style="white-space: nowrap">
                <div class="column column-header"  style="width: 40px;">
                    <span>Kill</span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[0]() + 'px' }">
                    <span class="column-handle" column="0"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'taskType')">Type</span>
                    <span data-bind="visible: $root.sortColumn() === 'taskType'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[1]() + 'px' }">
                    <span class="column-handle" column="1"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'description')">Description</span>
                    <span data-bind="visible: $root.sortColumn() === 'description'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[2]() + 'px' }">
                    <span class="column-handle" column="2"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'fullStatus')">Status</span>
                    <span data-bind="visible: $root.sortColumn() === 'fullStatus'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[3]() + 'px' }">
                    <span class="column-handle" column="3"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'startTime')">Started</span>
                    <span data-bind="visible: $root.sortColumn() === 'startTime'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[4]() + 'px' }">
                    <span class="column-handle" column="4"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'exceptionText')">Exception</span>
                    <span data-bind="visible: $root.sortColumn() === 'exceptionText'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
            </div>
            <div id="runningTasksItemsContainer" style="white-space: nowrap" data-bind="foreach: filteredAndSortedTasks, delegatedHandler: 'click'">
                <div style="display: block; white-space: nowrap" class="logRecord log-table-row" data-click="selectTask" data-bind="css: { warning: canceled, danger: faulted, 'selected': $data === $parent.selectedTask() }">
                    <div class="column" style="width: 40px"><button data-bind="visible: killable, click: $root.taskKill.bind($root, $data)" class="btn btn-link negative-margin"><i class="fa fa-bolt"></i></button>
                    </div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[0]() + 'px' }, text: taskType"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[1]() + 'px' }, text: description"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[2]() + 'px' }, text: fullStatus"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[3]() + 'px' }, text: timeStampText, attr: { title: timeStampText }"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[4]() + 'px' }"><i data-bind="visible: exceptionText" class="fa fa-exclamation"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="log-details panel panel-default">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Type</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: taskType"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Started</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: timeStampText"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Status</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: fullStatus"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Description</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: description"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Exception</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static">
                        <span data-bind="text: exceptionText"></span>
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="clearfix"></div>
    </div>
</section>
