<ul class="breadcrumb">
    <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
    <li>
        <h3>
            <a href="#resources">
                Databases
            </a>
        </h3>
    </li>
    <li data-bind="with: activeDatabase">
        <a data-bind="text: name, attr: { href: $parent.appUrls.documents }"></a>
    </li>
    <li class="active">
        Transformers
    </li>
</ul>

<div id="transformersContainer">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" data-bind="attr: { href: newTransformerUrl }" title="Add a new transformer (Alt+N)" accesskey="N">
                <i class="fa fa-plus"></i> New transformer
            </a>
        </div>
        <div class="btn-group" data-bind="visible: transformersGroups().length > 0">
            <button class="btn btn-default" data-bind="click: toggleExpandAll, attr: { title: expandCollapseTitle }" accesskey="=">
                <i data-bind="css: { 'fa-plus-square-o': !allTransformersExpanded(), 'fa-minus-square-o': allTransformersExpanded }" class="fa fa-fw"></i>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" data-bind="click: pasteTransformer" title="Paste transformer from JSON (Alt+V)" accesskey="V">
                <i class="fa fa-paste"></i>
            </button>
        </div>
        <div class="btn-group" data-bind="visible: transformersGroups().length > 0">
            <button type="button" class="btn btn-danger" data-bind="click: deleteAllTransformers" title="Delete All Transformers"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>

    <div data-bind="visible: transformersGroups().length == 0" class="text-center">
        <h4 class="page-header text-info">No transformers have been created for this database. <a href="#" data-bind="attr: { href: newTransformerUrl }">Create one now</a>.</h4>
    </div>

    <br />

    <div data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }" style="overflow: auto">
        <div class="transformers-container panel-group" id="transformersAccordion" data-bind="foreach: transformersGroups">
            <div class="transformers-group panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-bind="attr: { href: '#transformerCollapse' + $index() }">
                            <span data-bind="text: entityName"></span>
                            <span class="text-muted" data-bind="text: '(' + transformers().length + ')'"></span>
                        </a>
                    </h4>
                </div>
                <div class="index-group-content panel-collapse in" data-bind="attr: { id: 'transformerCollapse' + $index() }">
                    <div style="overflow: visible;">
                        <div class="panel-body" data-bind="foreach: transformers">
                            <div class="index panel panel-default">
                                <div class="panel-body">
                                    <h4 class="pull-left">
                                        <a data-bind="attr: { href: editUrl }">
                                            <span data-bind="text: name"></span>
                                            <i class="fa" data-bind="css: { 'fa-lock': isLocked(), 'fa-unlock': !isLocked() }"></i>
                                        </a>
                                    </h4>
                                    <div class="pull-right index-actions-container">
                                        <a class="btn btn-default" title="Edit the transformer" data-bind="attr: { href: editUrl }">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-default" title="Copy the transformer" data-bind="click: $root.copyTransformer.bind($root)">
                                            <i class="fa fa-copy"></i>
                                        </a>
                                        <a class="btn btn-default" title="Lock/Un-Lock Transformer" data-bind="click: $root.updateTransformerLockMode.bind($root, $data)">
                                            <i class="fa" data-bind="css: { 'fa-lock': isLocked(), 'fa-unlock': !isLocked() }"></i>
                                        </a>
                                        <button class="btn btn-danger" title="Delete the transformer" data-bind="click: $root.deleteTransformer.bind($root)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
