<div id="documents-pane" class="documents-page no-outline row" tabindex="0" data-bind="enableResize: true">
    <!-- ko if: alerts().length > 0 -->
        <!-- ko foreach: alerts -->
    <div class="alert alert-dismissable" role="alert" data-bind="css: { 'alert-warning': alertLevel === 'Warning', 'alert-danger': alertLevel === 'Error' }">
        <button data-bind="click: $root.dismissAlert.bind($root, uniqueKey)" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <a data-bind="attr: { href: $root.urlForAlert($data) }"><span data-bind="text: title"></span></a>
    </div>
        <!-- /ko -->
    <!-- /ko -->

    <div id="documents-page-container" class="col-md-2 col-resizable-target">
        
        <ul class="nav nav-pills nav-stacked document-collections" data-bind="with: allDocumentsCollection">
            <li class="all-docs-collection" data-bind="event: { mousedown: $parent.selectCollection.bind($parent) }, css: { active: $data === $parent.selectedCollection() }">
                <a href="javascript:void(0)">
                    <div class="collection-name">
                        <div class="collection-text pull-left collection-color-strip" data-bind="css: colorClass"></div>
                        <span class="collection-text pull-left collection-name-part" data-bind="text: getLabel(), attr: {title: name}"></span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked document-collections" data-bind="foreach: collectionsExceptAllDocs, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }" style="padding-left: 0;">
            <li data-bind="event: { mousedown: $parent.selectCollection.bind($parent) }, css: { active: $data === $parent.selectedCollection() }, visible: documentCount() > 0 || isAllDocuments || isSystemDocuments">
                <a href="javascript:void(0)">
                    <div class="collection-name">
                        <div class="collection-text pull-left collection-color-strip" data-bind="css: colorClass"></div>
                        <span class="collection-text pull-left collection-name-part" data-bind="text: getLabel(), attr: {title: name}"></span>
                        <span class="collection-text pull-left text-muted" data-bind="visible: !isSystemDocuments && !isAllDocuments, css: { 'text-muted': $data !== $parent.selectedCollection() }, text:  '&nbsp;(' + documentsCountWithThousandsSeparator() + ')', updateHighlighting: documentCount()"></span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="collection-resize"></div>
    </div>
    <div class="col-md-10 col-resizable-affected" id="documents-page-right-container">
        <div class="btn-toolbar" role="toolbar">
            <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
            <div class="btn-group">
                <div class="checkbox">
                    <input id="documents_all" class="styled" type="checkbox" data-bind="checkboxTriple: documentsSelection, event: { change: toggleSelectAll }, visible: hasDocuments" title="Select all or none">
                    <label for="documents_all">&nbsp;</label>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" accesskey="n" data-bind="click: newDocument" title="Create new document (Alt+N)">
                    <i class="fa fa-plus"></i> New document
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-bind="click: refresh, disable: showLoadingIndicator() || isInitialized() == false" title="Refresh from server">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-bind="click: selectColumns, visible: hasDocuments" title="Choose columns...">
                    <i class="fa fa-table"></i>
                </button>
            </div>
            <div class="btn-group">
                <button data-bind="visible: isRegularCollection, click: exportCsv" class="btn btn-default" title="Export CSV">
                    <i class="fa fa-file-excel-o"></i>
                </button>
                <button type="button" data-bind="visible: isRegularCollection" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: selectCsvColumns">Choose columns and export CSV...</a></li>
                </ul>
            </div>
            <div class="btn-group" data-bind="visible: hasAnyDocumentsSelected">
                <button type="button" class="btn btn-default" data-bind="click: editSelectedDoc, enable: selectedDocumentIndices().length == 1" title="Edit selected document (F2)">
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: generateDocCode, enable: selectedDocumentIndices().length == 1 " title="Generate Class">
                    <i class="fa">C#</i>
                </button>
            </div>
            <div class="btn-group" data-bind="visible: hasAnyDocumentsSelected">
                <button type="button" class="btn btn-danger" data-bind="click: deleteSelectedDocs" title="Delete selected documents (DEL)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <div class="btn-group" data-bind="visible: hasAnyDocumentsSelected() && canCopyAllSelected()">
                <button type="button" class="btn btn-default" data-bind="click: copySelectedDocs" title="Copy selected documents (Ctrl+C, D)">
                    <i class="fa fa-copy"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: copySelectedDocIds" title="Copy selected document IDs (Ctrl+C, I)">
                    <i class="fa fa-clipboard"></i>
                </button>
            </div>
            <div class="btn-group">
                <div id="loadingIndicator" data-bind="visible: showLoadingIndicatorThrottled"><i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
        </div>
        <div class="documents-select" data-bind="with: selectedCollection, visible: !isSystemDocumentsCollection() && hasAnyDocumentsSelected() && !hasAllDocumentsSelected() && isAnyDocumentsAutoSelected()">
            <i class="fa fa-info-circle"></i> You have selected <strong data-bind="text: $root.selectedDocumentIndices().length.toLocaleString()"></strong> <span data-bind="text: $root.selectedDocumentsText"></span>.
            <span class="select-link" data-bind="click: $root.selectAll.bind($root)">
                Select all <strong data-bind="text: documentCount().toLocaleString()"></strong> documents in <span data-bind="text: name"></span>
            </span>
        </div>
        <div class="documents-select" data-bind="with: selectedCollection, visible: !isSystemDocumentsCollection() && hasAllDocumentsSelected() && isAllDocumentsAutoSelected()">
            You have selected <strong data-bind="text: $root.selectedDocumentIndices().length.toLocaleString()"></strong> <span data-bind="text: $root.selectedDocumentsText"></span> in
            <span data-bind="text: name"></span>.
            <span class="select-link" data-bind="click: $root.selectNone.bind($root)">
                Clear selection
            </span>
        </div>
        <div id="documentsGrid" data-bind="widget: { kind: 'virtualTable', customColumns: currentColumnsParams, itemsSource: currentCollectionPagedItems, selectedIndices: selectedDocumentIndices, gridSelector: '#documentsGrid', customFunctions: currentCustomFunctions, collections: collections, rowsAreLoading: showLoadingIndicator, isAnyAutoSelected: isAnyDocumentsAutoSelected, isAllAutoSelected: isAllDocumentsAutoSelected, noResultsMessage: 'No documents were found!', container: '#documents-page-right-container' }"></div>
    </div>
</div>
