<ul class="breadcrumb">
    <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
    <li>
        <h3>
            <a href="#resources">
                Databases
            </a>
        </h3>
    </li>
    <li data-bind="with: activeDatabase">
        <a data-bind="text: name, attr: { href: $parent.appUrls.documents }"></a>
    </li>
    <li>
        <a data-bind="attr: { href: appUrls.indexes }">Indexes</a>
    </li>
    <li class="active">
        <span data-bind="text: currentIndexName"></span>
    </li>
</ul>

<section id="editIndex">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary" data-bind="click: save, visible: !editedIndex().isSideBySideIndex(), enable: $root.isSaveEnabled()" title="Save the index (Alt+S)" accesskey="S">
                <i class="fa fa-save"></i>
            </button>
            <button type="button"  data-bind="visible: !editedIndex().isSideBySideIndex()"class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu"  role="menu">
                <li>
                    <a title="Replaces current index when specified condition is met" href="#" data-bind="visible: !editedIndex().isSideBySideIndex() && !editedIndex().isTestIndex(), click: replaceIndex">
                        <i class="fa fa-reply fa-fw"></i> Side-by-side indexing
                    </a>
                </li>
                <li>
                    <a title="Create test index based on limited data set" href="#" data-bind="visible: !editedIndex().isTestIndex() && !editedIndex().isSideBySideIndex(), click: tryIndex">
                        <i class="fa fa-eyedropper fa-fw"></i> Try index
                    </a>
                </li>
                <li>
                    <a href="#" title="Saves test index as persistent" data-bind="visible: editedIndex().isTestIndex(), click: makePermanent">
                        <i class="fa fa-save"></i> Make permanent
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group" data-bind="visible: !editedIndex().isSideBySideIndex()">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" accesskey="A">
                <i class="fa fa-plus"></i>
                Add
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li  data-bind="click: addMap" title="Add a map function (Alt+M)" accesskey="M"><a href="#">Map</a></li>
                <li  data-bind="click: addReduce, visible: !hasExistingReduce()" title="Add a reduce function (Alt+R)" accesskey="R"><a href="#">Reduce</a></li>
                <li  data-bind="click: addField" title="Add a field (Alt+G)" accesskey="G"><a href="#">Field</a></li>
                <li  data-bind="click: addSpatialField" title="Add a spatial field (Alt+P)" accesskey="P"><a href="#">Spatial Field</a></li>
                <li data-bind="visible: !editMaxIndexOutputsPerDocument(), click: function() {$root.editMaxIndexOutputsPerDocument(true); return false;}"><a href="#">Max Index Outputs</a></li>
                <li data-bind="visible: !$root.editedIndex().storeAllFields(), click: function() {$root.editedIndex().setOrRemoveStoreAllFields(true); return false;}"><a href="#">Store All Fields</a></li>
            </ul>
        </div>

        <div class="btn-group" data-bind="visible: !editedIndex().isSideBySideIndex()">
            <button class="btn btn-default" title="Format maps and reduce" data-bind="click: formatIndex">
                <i class="fa fa-magic"></i>
            </button>
        </div>

        <div class="btn-group" data-bind="visible: isEditingExistingIndex">
                <a class="btn btn-default" title="Query the index (Alt+Q)" accesskey="Q"   data-bind="attr: { href: queryUrl }">
                    <i class="fa fa-play"></i>
                </a>
              <a class="btn btn-default" title="Navigate to index terms"  data-bind="attr: { href: termsUrl }">Terms</a>
        </div>

        <div class="btn-group" data-bind="visible: isEditingExistingIndex">
            <button class="btn btn-default" title="Copy edited index to clipboard" data-bind="click: copyIndex, enable: !$root.isSaveEnabled()">
                <i class="fa fa-files-o"></i>
            </button>
            <button class="btn btn-default" title="Generate C# index definition" data-bind="click: createCSharpCode, enable: !$root.isSaveEnabled()">
                <i class="fa">C#</i>
            </button>
            <button class="btn btn-default" title="Refresh from server, discarding any unsaved changes" data-bind="click: refreshIndex">
                <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-danger" title="Delete index" data-bind="visible: !editedIndex().isSideBySideIndex(), click: deleteIndex">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        
        <button class="btn btn-danger" title="Cancel side-by-side index" data-bind="visible: editedIndex().isSideBySideIndex(), click: cancelSideBySideIndex">
            <i class="fa fa-undo"></i>
        </button>
    </div>

    <div class="container-fluid" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }" style="overflow: auto">
        <br />
        <form class="form-horizontal" role="form" data-bind="with: editedIndex">
            
            <div class="alert alert-warning" data-bind="visible: isTestIndex()" role="alert">This is test index which operates on limited data set. Press &quot;Make permanent&quot; to override the original index.</div>
            
            <div class="form-group">
                <label for="indexName" class="col-md-1 control-label"  title=" index name (Alt+I)">Name</label>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" class="form-control" id="indexName" placeholder="Index name" accesskey="I" data-bind="value: name, valueUpdate: 'afterkeyup', enable: !isTestIndex() && !isSideBySideIndex()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label id="indexMapsLabel" style="cursor: help;" class="col-md-1 control-label" data-placement="auto right" data-original-title="Index maps" data-trigger="hover">
                    Maps
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div data-bind="foreach: maps" class="col-md-11">
                    <div class="row">
                        <div class="col-md-11">
                            <pre id="indexEditor" class="form-control map" data-bind="aceEditor: { readOnly: $parent.isSideBySideIndex(), code: $data, allowResize: true, getFocus: true, lang: 'ace/mode/ravenMapLinq', completer: $root.indexAutoCompleter.indexMapCompleter, typeName: 'map', completerHostObject: $root.indexAutoCompleter }"></pre>
                        </div>
                        <button type="button" class="close pull-left" data-bind="visible: $index() !== 0 || $root.hasMultipleMaps(), click: $root.removeMap.bind($root, $index())" aria-hidden="true" title="Remove this map from the index">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <br />
                </div>
            </div>
            <div class="form-group" data-bind="if: reduce">
                <label id="indexReduceLabel" style="cursor: help;" for="indexReduce" class="col-md-1 control-label" data-placement="auto right" data-original-title="Index reduce" data-trigger="hover">
                    Reduce
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-11">
                            <pre class="form-control map" data-bind="aceEditor: { readOnly: isSideBySideIndex(), code: reduce, allowResize: true, lang: 'ace/mode/ravenReduceLinq', completer: $root.indexAutoCompleter.indexReduceCompleter, typeName: 'reduce', completerHostObject: $root.indexAutoCompleter }"></pre>
                        </div>
                        <button type="button" class="close pull-left" data-bind="click: $root.removeReduce.bind($root)" aria-hidden="true" title="Remove the Reduce function from the index">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible: luceneFields().length > 0">
                <label class="col-md-1 control-label">
                    Fields
                </label>
                <div class="col-md-11">
                    <div class="row" data-bind="foreach: luceneFields">
                        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="col-md-11">
                                        <input name="fieldName" type="text" class="form-control" placeholder="FieldName" data-bind="enable: !$parent.isSideBySideIndex(), attr: { id:'fieldName' + $index() }, value: name, valueUpdate: 'afterkeydown'" autocomplete="off" />
                                        <ul class="dropdown-menu" role="menu" style="display: none;" data-bind="autoComplete: '#' + 'fieldName' + $index(),foreach: fieldNameAutocompletes">
                                            <li role="presentation" data-bind="click: $parent.setName.bind($parent,$data)">
                                                <a role="menuitem" tabindex="-1" href="#">
                                                    <span data-bind=" text:$data"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <button type="button" class="close" aria-hidden="true"><i class="fa fa-times" data-bind="click: $root.removeLuceneField.bind($root, $index())" aria-hidden="true" title="Remove this field from the index"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body fieldControl">
                                    <div class="col-md-6 fieldControl">
                                        <label class="control-label col-md-5 fieldControl">Storage</label>
                                        <div class="col-md-7 fieldControl">
                                            <select class="form-control fieldControl" data-bind="options: ['Yes', 'No'], value: stores, enable: !$parent.isSideBySideIndex()"></select>
                                        </div>
                                        <label class="control-label col-md-5 fieldControl">Sort</label>
                                        <div class="col-md-7 fieldControl">
                                            <select class="form-control fieldControl" data-bind="options: ['None', 'String', 'Int', 'Float', 'Long', 'Double', 'Short', 'Custom', 'Byte', 'StringVal'], value: sort, enable: !$parent.isSideBySideIndex()"></select>
                                        </div>
                                        <label class="control-label col-md-5 fieldControl">TermVector</label>
                                        <div class="col-md-7 fieldControl">
                                            <select class="form-control fieldControl" data-bind="options: ['No', 'Yes', 'WithPositions', 'WithOffsets', 'WithPositionsAndOffsets'], value: termVector, enable: !$parent.isSideBySideIndex()"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 fieldControl">
                                        <label class="control-label col-md-5 fieldControl">Indexing</label>
                                        <div class="col-md-7 fieldControl">
                                            <select class="form-control fieldControl" data-bind="options: ['No', 'Analyzed', 'NotAnalyzed', 'Default'], value: indexing, enable: !$parent.isSideBySideIndex()"></select>
                                        </div>
                                        <label class="control-label col-md-5 fieldControl" data-bind="visible: indexing() === 'Analyzed'">Analyzer</label>
                                        <div class="col-md-7 fieldControl" data-bind="visible: indexing() === 'Analyzed'">
                                            <input type="text" class="form-control fieldControl" data-bind="value: analyzer, valueUpdate: 'afterkeyup', attr: { title: analyzer }, enable: !$parent.isSideBySideIndex()" />
                                        </div>
                                        <label class="control-label col-md-5  fieldControl" title="The suggestion distance algorithm">Suggestion</label>
                                        <div class="col-md-7 fieldControl">
                                            <button type="button" data-bind="enable: !$parent.isSideBySideIndex()" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span data-bind="visible: suggestionEnabled()">Yes</span>
                                                <span data-bind="visible: !suggestionEnabled()">No</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" data-bind="click: suggestionEnabled.bind(suggestionEnabled, true)">Yes</a></li>
                                                <li><a href="#" data-bind="click: suggestionEnabled.bind(suggestionEnabled, false)">No</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: spatialFields().length > 0">
                <label class="col-sm-1 control-label">
                    Spatial Fields
                </label>
                <div class="col-md-10" data-bind="foreach: spatialFields, visible: spatialFields().length > 0">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-md-11">
                                    <input type="text" class="form-control" data-bind="enable: !$parent.isSideBySideIndex(), value: name, valueUpdate: 'afterkeyup'" placeholder="spatial field name" />
                                </div>
                                <div>
                                    <button type="button" class="close" data-bind="click: $root.removeSpatialField.bind($root, $index())" title="Remove this spatial field from the index">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">Type</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['Geography', 'Cartesian'], value: type, enable: !$parent.isSideBySideIndex()"></select>
                                    </div>
                                    <label class="control-label col-md-3">Strategy</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: availableStrategies, value: strategy, enable: !$parent.isSideBySideIndex()"></select>
                                    </div>
                                    <label class="control-label col-md-3">Min X</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" data-bind="numericValue: minX, valueUpdate: 'afterkeyup', enable: canSpecifyCoordinates, enable: !$parent.isSideBySideIndex()" />
                                    </div>
                                    <label class="control-label col-md-3">Max X</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" data-bind="numericValue: maxX, valueUpdate: 'afterkeyup', enable: canSpecifyCoordinates, enable: !$parent.isSideBySideIndex()" />
                                    </div>
                                    <label class="control-label col-md-3">Precision</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static" style="white-space: nowrap" data-bind="text: precision, enable: !$parent.isSideBySideIndex()"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="control-label col-md-4" data-bind="visible: canSpecifyUnits">Circle Radius Units</label>
                                        <div class="col-md-4" data-bind="visible: canSpecifyUnits">
                                            <select class="form-control" data-bind="options: ['Kilometers', 'Miles'], value: circleRadiusUnits, enable: !$parent.isSideBySideIndex()"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-4" data-bind="visible: canSpecifyTreeLevel">Max Tree Level</label>
                                        <div class="col-md-4" data-bind="visible: canSpecifyTreeLevel">
                                            <input type="number" class="form-control" data-bind="numericValue: maxTreeLevel, valueUpdate: 'afterkeyup', enable: !$parent.isSideBySideIndex()" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-4">Min Y</label>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control" data-bind="numericValue: minY, valueUpdate: 'afterkeyup', enable: canSpecifyCoordinates() && !$parent.isSideBySideIndex()" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-4">Max Y</label>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control" data-bind="numericValue: maxY, valueUpdate: 'afterkeyup', enable: canSpecifyCoordinates() && !$parent.isSideBySideIndex()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" data-bind="visible: maxIndexOutputsPerDocument() > 0 || $root.editMaxIndexOutputsPerDocument() == true">

                <label class="col-sm-1 control-label">Max Index Outputs Per Document</label>
                <div class="col-md-2">
                    <input class="form-control" required type="number" data-bind="numericValue: maxIndexOutputsPerDocument, valueUpdate: 'afterkeyup', enable: !isSideBySideIndex()" min="0" />
                </div>
                <div class="col-md-1">
                    <button type="button" class="close pull-left" data-bind="click: $root.removeMaxIndexOutputs.bind($root)" aria-hidden="true" title="Nullify Max Index Outputs Per Document And Hide The Control">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="form-group" data-bind="visible: storeAllFields()">

                <label class="col-sm-1 control-label">Store All Fields</label>
                <div class="col-md-2" style="padding-top: 3px">
                    <button style="height: 30px;" type="button" class="close pull-left" data-bind="click: $root.removeStoreAllFields.bind($root)" aria-hidden="true" title="Remove Store All Fields And Hide The Control">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            
            <div class="form-group" data-bind="visible: $root.scriptedIndex" id="indexScriptPopover">
                <label class="col-sm-1 control-label index-script-label" data-placement="auto right" data-original-title="Index Script" data-trigger="hover">
                    Index Script
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div class="col-sm-11" data-bind="with: $root.scriptedIndex">
                    <div class="row">
                        <div class="col-md-11">
                            <pre class="form-control map" data-bind="aceEditor: { readOnly: $parent.isSideBySideIndex(), code: indexScript, allowResize: true, lang: 'ace/mode/javascript', completer: $root.scriptedIndexCompleter, completerHostObject: $root.scriptedIndexCompleter, typeName: 'map' }"></pre>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: $root.scriptedIndex" id="deleteScriptPopover">
                <label class="col-sm-1 control-label delete-script-label" data-placement="auto right" data-original-title="Delete Script" data-trigger="hover">
                    Delete Script
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div class="col-sm-11" data-bind="with: $root.scriptedIndex">
                    <div class="row">
                        <div class="col-md-11">
                            <pre class="form-control map" data-bind="aceEditor: { readOnly: $parent.isSideBySideIndex(), code: deleteScript, allowResize: true, lang: 'ace/mode/javascript', completer: $root.scriptedIndexCompleter, completerHostObject: $root.scriptedIndexCompleeter, typeName: 'map' }"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
